<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>음성인식 API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <noscript><link rel="stylesheet" href="{% static 'css/noscript.css'%}" /></noscript>
</head>
<body>
<!-- Intro -->

	<input type="file" accept="audio/*" capture>
    <header id="header">
        <h1><a href = "{% url 'stt:intro' %}">AI ChatBot</a></h1>
    </header>
		<section id="intro" class="main style1 dark fullscreen">
			<div class="content">
				<header>
					<h2>Sign up <br> or <br> Log In</h2>
				</header>
				<br><br>
				<body>
					<a href="{%url 'user:signup' %}" class="button style2 ">
						SIGN UP
					</a>
                    <a href="{%url 'user:login' %}" class="button style2 ">
						LOG IN
					</a>
				</body>
			</div>
		</section>
	<!-- Footer -->
		<footer id="footer">
				<ul class="menu">
					<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
				</ul>
		</footer>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

</body>
</html>